google-api-core
grpcio-health-checking
grpcio
grpcio-tools
python-json-logger
requests
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-grpc
opentelemetry-exporter-otlp