receivers:
  otlp:
    protocols:
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch: {}

exporters:
  debug:
    verbosity: detailed
  otlp/honeycomb:
    endpoint: api.honeycomb.io:443
    headers:
      x-honeycomb-team: 4A0OWtbdVS4ArSwzHQJEZA

service:
  pipelines:
    traces:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlp/honeycomb]
    metrics:
      receivers: [otlp]
      processors: [batch]
      exporters: [debug, otlp/honeycomb]
