backoff==1.10.0
cachetools==4.2.4
certifi==2021.10.8
chardet==3.0.4
Deprecated==1.2.13
google-api-core==1.24.1
google-auth==1.35.0
googleapis-common-protos==1.54.0
grpcio==1.65.5
grpcio-health-checking==1.33.2
grpcio-tools==1.65.5
idna==2.10
Jinja2==2.11.3
MarkupSafe==2.0.1
opentelemetry-api==1.9.1
opentelemetry-exporter-otlp==1.9.1
opentelemetry-exporter-otlp-proto-grpc==1.9.1
opentelemetry-exporter-otlp-proto-http==1.9.1
opentelemetry-instrumentation==0.28b1
opentelemetry-instrumentation-grpc==0.28b1
opentelemetry-proto==1.9.1
opentelemetry-sdk==1.9.1
opentelemetry-semantic-conventions==0.28b1
protobuf==5.27.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
python-json-logger==0.1.11
pytz==2024.1
requests==2.24.0
rsa==4.8
six==1.16.0
typing_extensions==4.12.2
urllib3==1.25.11
wrapt==1.13.3
