google-api-core==1.6.0
grpcio-health-checking==1.12.1
grpcio
jinja2==2.10.1
python-json-logger==0.1.9
wrapt
opentelemetry-api
opentelemetry-sdk
opentelemetry-instrumentation
opentelemetry-instrumentation-grpc
opentelemetry-exporter-otlp
